#navButton {
    background-color: #4b5d68;
    color:  #7cc7f4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    margin-left: 3em;
    margin-top: 0em;
    border-radius: 1em;
    border-style: ridge;
    border-width: .25em;
    text-decoration: none;
}

#navButton:hover{
    background-color:black; 
} 